body 
{
    background: #2a2c35;
    color: #344;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #001e97;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;  
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;    
}

#cabecera #tagline
{
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #181;
    margin: auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
    background: white;
    padding: 1em;         
}

#owner
{
    font-weight: bold;
    color: darkblue;
}

#footer
{
    background: rgb(12, 112, 104);
    color: white;
    text-align: center;
    padding: 0.5em;
}